{% extends 'core/base.html'%}
{% block content%}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="hero-section">
            <h3>
                Empowering Education: Unleash the Potential of Your School with Our Seamless Management System
            </h3>
        </div>
      </div>
    </div>
  </div>
  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Attendance Management</h5>
              <p class="card-text">Efficiently track and manage student attendance records.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Gradebook</h5>
              <p class="card-text">Keep track of student grades and generate reports easily.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Communication</h5>
              <p class="card-text">Facilitate seamless communication between teachers, students, and parents.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

{% endblock %}